html, body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

#avatar_table {
    display: flex;
    flex-wrap: wrap;
}

#avatar_table div {
    width: 20%;
    margin: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#avatar_table div img {
    width:100%;
}

#fashion_grid {
    display: flex;
    justify-content: space-around;
}

#fashion_grid div img {
    width: 100%;
}

#headerlogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    color: lightgray;    
}

#headerlogo table {
    width: 100%;
}

#headerlogo table tr td img {
    width: 100%;
    max-width: 400px;
}

h3 {
    font-weight: bold;
    font: 17pt SourceSansProLight;              
}

.margins {
    margin-left: 10%;
    margin-right: 10%;
}


#webiverse {
    width: 90%;
    height: 47.3vw;
    max-width: 900px;
    max-height: 473px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
}

#webiverse #message {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15;
    top: 50%;
    transform: translateY(-50%);
}

#webiverse h1 {
    font: 2.8vw "Arial Black", iosArialblack;
    font-weight: bold;
}

#webiverse h2 {
    font: 2.7vw "Arial Black", iosArialblack;
    font-weight: bold;
}

#webiverse p {
    font: 2.3vw "Arial Black", iosArialblack;
}

#galleryLink a, #galleryLink a:hover, #galleryLink a:link, #galleryLink a:visited, #galleryLink a:active {
    color: darkgrey;
}

/* Articles */
.articleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articleList div {
    width: 22%;
    margin: 10px;
}

.articleList div img {
    width: 100%;
}

.articleList div a {
    font: 13pt SourceSansProLight;
}

.articleList div a:visited, .articleList div a:link {
    color: #3f3d3e;
}

.articles p {
    text-align: left;
}

.articles img {
    display: block;
    margin: auto;
    max-width: 80%;
}

#article_header {
    height: 350px;
    background-image: url(images/punkoffice.png);
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: 20% 30px;
    background-color: rgb(37,37,37);
}

ul.realFigures li {
    list-style-type: none;
    display: inline-table;    
    height:15vw;
    font: 12pt "Arial Black", iosArialblack;
    width: 100%;
    text-align: center;
}

#message input[type="button"] {
    max-height: 45px;
    height: 8vw;
    width: 120px;
    border: 2px solid black;
    font: 2.1vw "Arial Black", iosArialblack;
    background-color: darkgrey;
    -webkit-appearance: none;
}

#image {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
}

#image::after {
  content: "";
  background: url(images/kendall_preview.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;   
}

#content {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    min-width: 800px;
    left: 0;
    right: 0;
}

#content + div {
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

/* Fixed header */
.removeBar {
    background-color: transparent !important;
}

#fixedHeader {
    position: fixed;
    min-width: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgba(128,128,128,0.4);
    z-index: 5;
}

#hk_scene {
    text-align: center;
}

#imageContainer {
    overflow: hidden;
    width: 100%;
    height: 60px;
}

#logo {
    position: relative;
    left: 0;
    background-color: rgba(128,128,128,0);
    background-repeat: no-repeat;
    overflow: hidden;
}

#menuButton {
    position: absolute;
    top: 0;
    background-image: url(images/Menu_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0);
}

#menuButton:hover {
    cursor: pointer;
}

#sliderContainer {
    position: absolute;
    overflow: hidden;
    width: 0px;
    right: 0px;
    top: 0px;
}

#slidingMenu {
    position: absolute;
    overflow: hidden;
    height: 100%;
    background-color: #3f3f3e;
    text-align: left;
}

#slidingMenu ul {
    list-style-type: none;
}

#slidingMenu ul li ul {
    padding-top: 15px;
}

#slidingMenu ul li {
    color: white;
    padding-bottom: 10px;
}

#slidingMenu ul li a {
    text-decoration: none;
}

#slidingMenu ul li a:hover {
    text-decoration: underline;
    color: white;
}

#slidingMenu ul li a:link, #slidingMenu ul li a:visited, #slidingMenu ul li a:active {
    color: white;
}

.expandable {
    position: relative;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  min-width: 800px;
  pointer-events: none;
}

video {
  width: 100%;
}

#crosshatch {
    background-image: url(images/grid.png);
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;    
}

/* Header */
#header {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 40vw;
    max-height: 550px;
    top: 0px;
    left: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

#client_logos {
    list-style-type: none;
    float: right;
}

#flex_clients div img {
    width: 100%;
}

#flex_clients div {
    width: 28%;
    margin: auto;
    padding-top: 20px;
}

#client_logos li {
    float: left;  
    padding-left: 20px;
    padding-right: 20px;
}
    
#flex_clients {
    display: flex;
    flex-wrap: wrap;
}

#maddie {
    position: absolute;
    background-image: url(images/maddie.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    top: 0px;
    right: 0px;
    width: 285px;
    height: 350px; 
    z-index: 1;
}

#josh {
    position: absolute;
    background-image: url(images/josh.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    top: 0px;
    right: 10%;
    width: 400px;
    height: 350px; 
    z-index: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);    
}

#webGLwarning {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: lightgray;
    bottom: 0;
    display: none;
    z-index: 5;
}

#titleFrame {
    width: 100%;
    height: 350px;
    z-index: 3;
}

#tempTitle {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background-image: url(title/3D/title.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    z-index: 2;    
}

#titleContainer {
    position: absolute;
    z-index: 4; 
    width: 100%; 
    height: 100%;    
    min-width: 800px;
}

#links li a {
    border: 0;
    text-decoration: none;
}

/* Biography */
#bioFrame {
    padding-top: 15px;
    width: 200px;
    height: 200px;
    z-index: 2;
    background-color: rgba(0,0,0,0);
    visibility:hidden;
}

#tempMarcus {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-image: url(marcus/3D/marcus_head.jpg);
    background-repeat: no-repeat;
    background-position: center 15px;
    background-size: auto 100%;
    width: 200px;
    height: 200px;
    z-index: 1;
}

#bio p {
    padding-top: 5px !important;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: #000000;
}

p a, p a:active, p a:visited, p a:link {
    color: #3f3d3e;   
}

#footer p a, p a:active, #footer p a:visited, #footer p a:link {
    text-decoration: none;
}

#footer p a:hover {
    text-decoration: underline;
}

/*fonts*/

@font-face {
    font-family: SourceSansProLight;	
    src: url(fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: SourceSansProBlack;
    src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
    font-family: Adam;
    src: url(fonts/Adam.otf);
}

@font-face {
    font-family: iosArialBlack;
    src: url(fonts/arial-black.ttf);
}

.light {
    background-color: #ffffff;
}

.dark {
    background-color: #e9e9e9;    
}

hr {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #4c4c4c;
}

#content p {
    margin: auto;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #3f3d3e;
    width: 80%;
}

#aboutContent {
    position: relative;
}

#aboutContent .homeImage {
    padding-top: 25px;
}

#servicesView tr td {
    text-align: center;
    padding-bottom: 30px;
}

#servicesView a img:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;    
}

#gallery td img:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;    
    cursor: pointer;
}

#gallery td a, #gallery td a:link, #gallery td a:active, #gallery td a:visited {
    text-decoration: none;
    color: black;
}

#gallery td a:hover {
    text-decoration: underline;
}

#scans {
    width: 100%;
}

#contactForm {
    margin: 0 auto;
    left: 0;
    right: 0;
}

#contactForm form {
    width: 100%;
}

#contactForm form input, #contactForm form textarea {
    text-align: left;
    box-sizing:border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    width: 100%;
    color: #676565;
    border-color: black;
    border-width: 1px;
}

#contactForm form input[type="submit"] {
    text-align: center;
    background-color: white;
    color: #676565;
    border-color: black;
    border-width: 1;
    padding: 5pt;
}

#btnSend {
    text-align: right;
}

#links {
    list-style-type:none;  
    margin-bottom: 0;
    padding-bottom: 40px;
    text-align: center;
}

#links li {
    display:inline;
    padding-left: 20px;
    padding-right: 20px;
}

#dialog {
    width: 430px;
    height: 640px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    top: 50%; 
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: black;
}

#dialog iframe {
    width: 100%;
    height: 100%;
}

#messageSent {
    width:50%;
    position: absolute;
    text-align: center;
    font: 15pt SourceSansProBlack;
    color: red;
    display: none;
}

.close {
    position: absolute;
    background-image: url(images/Exit_button.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-color: black;
    /*margin: 0 auto;*/
    right: 0px;
}

.close:hover {
    cursor: pointer;
}

.close:active {
    background-color: #202020;
}

.submenu {
    list-style-type:none;    
    padding-left: 0;
    padding-bottom: 20px;
}

.submenu li {
    display:inline;
    padding: 5px;
}

.submenu li a, .submenu li a:link, .submenu li a:visited {
    font: 13pt SourceSansProLight;
    border: 1px solid;
    padding: 5px;
    text-decoration: none;
    background-color: white;
    color: #676565;
}

.submenu li a:hover {
    background-color: #e0e0e0;
    text-decoration: none;
}

.selected {
    color: white !important;
    background-color: #676565 !important;
}

#blanket {
    position: fixed;
    display: none;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1,0,0,0.6);
    z-index: 9;
}

@media only screen and (min-width: 1000px) {
    #webiverse h1 {
        font-size: 21pt;
    }

    #webiverse h2 {
        font-size: 18pt;
    }

    #webiverse p {
        font-size: 18pt;
    }  
    
    #webiverse input[type="button"] {
        font-size: 12pt;
    }
}

@media only screen {
    #content {
        width: 80%;
    }
    #tempMarcus {
        width: 200px;
        height: 200px;
    }
    #bioFrame {
        width: 200px;
        height: 200px;        
    }
    .mobileOnly {
        display: none;
    }
    .ipadOnly {
        display: none;
    }
    .desktopOnly {
        display: inline;
    }
    h1 {
        padding-top: 20px;
        font: 35pt Adam;    
    }
    h2 {
        padding-top: 20px;
        font: 25pt Adam;  
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 0;
    }
    #content p {
        font: 13pt SourceSansProLight;
    }
    #fixedHeader {
        min-width: 800px;
        width: 80%;
        height: 60px;
    }
    #logo {
        height: 60px;
        background-image: url(images/po_logo_sml.png);
        background-position: 20px center;
        top: -60px;
        width: 400px;
    }
    #imageContainer {
        height: 60px;
    }
    #menuButton {
        right: 10px;
        width: 60px;
        height: 60px;
        background-size: auto 40px;
    }
    #sliderContainer {
        height: 220px; 
    }
    #slidingMenu {
        width: 160px;
    }       
    #slidingMenu ul li {
        font: 13pt Adam;
    }
    .submenu li a, .submenu li a:link, .submenu li a:visited {
        font: 13pt SourceSansProLight;
    }
    .expandable {
        background-image: url(images/arrow.png);    
        background-size: auto 9px;
        height: 13px;
        width: 15px;
        right: 150px;    
    }
    #tempTitle {
        background-size: auto 79.5%;
        height: 23vw;
    }
    #contactForm {
        width: 50%;
        min-width: 600px;
    }
    #contactForm form input[type="submit"] {
        width: 100px;
        font: 13pt SourceSansProLight;
    }
    #contactForm form input, #contactForm form textarea {
        padding-left: 5px;
        padding-right: 5px;
        font: 13pt SourceSansProLight;
    }
    #dialog {
        width: 430px;
        height: 640px;
    }
    #shrapnel {
        height: 400px;
    }
    #webGLwarning {
        font: 20pt SourceSansProBlack;        
    }
    .close {
        background-size: 30px 30px;
        width: 35px;
        height: 35px;        
    }
}

@media only screen
and (max-device-width: 500px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #flex_clients {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #flex_clients div {
        width: 39%;
        margin: auto;
    }
    #avatar_table div {
        width: 45%;
        margin: 20px;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 20px;
    }
    #avatar_table h3 {
        font-size: 33pt;
    }
    .articleList div {
        width: 45%;
    }
    .articleList div a {
        font: 23pt SourceSansProLight;
    }    
}

@media only screen
  and (max-device-width: 850px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      #flex_clients {
          flex-wrap: wrap;
      }
      #flex_clients div {
          width: 28%;
          margin: auto;
          padding-top: 20px;
      }
      #content p {
        font: 18pt SourceSansProLight;
        }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .mobileOnly:active {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;              
    }
    .articleList div a {
        font: 18pt SourceSansProLight;
    }
    .video-foreground, .video-background {
        width: 100%;
    }
    #content {
        width: 100%;
    }
    #shrapnel {
        height: 600px;
    }
    #tempMarcus {
        width: 400px;
        height: 400px;
    }
    #bioFrame {
        width: 400px;
        height: 400px;        
    }
    .desktopOnly {
        display: none;
    }
    .ipadOnly {
        display: none;
    }
    .mobileOnly {
        display: inline;
    }
    h1 {
        font: 40pt Adam;        
    }
    h2 {
        font: 35pt Adam;        
    }
    #content p {
        font: 22pt SourceSansProLight;
    }
    #fixedHeader {
        width: 100%;
        height: 70px;
    }
    #imageContainer {
        height: 70px;
    }
    .submenu li a, .submenu li a:link, .submenu li a:visited {
        font: 18pt SourceSansProLight;
        padding-top: 10px;
        padding-bottom: 10px;        
    }
    #logo {
        height: 70px;
        top: -70px;
        background-size: auto 50px;
        background-image: url(images/po_logo_sml.png);
        background-position: 13px center;
        width: 330px;
    }
    #contactForm {
        width: 60%;        
    }
    #contactForm form input, #contactForm form textarea {
        font: 23pt SourceSansProLight;
    }
    #contactForm form input[type="submit"] {
        width: 150px;
        font: 20pt SourceSansProLight;
    }    
    #menuButton {
        right: 10px;
        width: 70px;
        height: 70px;
        background-size: auto 50px;
    }
    #sliderContainer {
        height: 320px;
    }
    #slidingMenu {
        width: 220px;
    }      
    #slidingMenu ul li {
        font: 23pt Adam;
    }    

    #dialog {
        height: 87%;
        width: 50%;
    }
    
    .close {
        background-size: 60px 60px;
        width: 70px;
        height: 70px;        
    }        
    .expandable {
        background-image: url(images/arrow_mobile.png);    
        background-size: auto 12px;
        height: 26px;
        width: 30px;
        right: 200px; 
    }
    #tempTitle {
        height: 38.5vw;
    }        
    #scans tr td a img.mobileOnly {
        width: 70%;
    }
    #webGLwarning {
        font: 24pt SourceSansProBlack;        
    }    
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .mobileOnly:active {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;              
    }
    .video-foreground, .video-background {
        width: 100%;
    }
    .articles img {
        width: 80%;
    }
    #content {
        width: 100%;
    }
    #shrapnel {
        height: 600px;
    }    
    #tempMarcus {
        width: 400px;
        height: 400px;
    }
    #bioFrame {
        width: 400px;
        height: 400px;        
    }
    #contactForm {
        width: 80%;        
    }
    #contactForm form input[type="submit"] {
        width: 200px;
        font: 30pt SourceSansProLight;
    }

    #contactForm form input, #contactForm form textarea {
        font: 30pt SourceSansProLight;
        padding-left: 5px;
        padding-right: 5px;
    }
    #dialog {
        width: 95%;
        height: 95%;
    }
    .close {
        background-size: 70px 70px;
        width: 80px;
        height: 80px;        
    }        
    .desktopOnly {
        display: none;
    }
    .mobileOnly {
        display: inline;
    }
    h1 {
        font: 53pt Adam;        
        padding-top: 40px;
    }
    #headerlogo table tr td h2 {
        font: 30pt Adam;
    }
    h2 {
        font: 45pt Adam;        
        padding-top: 40px;
    }
    #servicesList {
        width: 100%;
    }
    .submenu {
        padding-top: 20px;
    }
    .submenu li a, .submenu li a:link, .submenu li a:visited {
        font: 18pt SourceSansProLight;
        padding-top: 20px;
        padding-bottom: 20px;        
    }
    #content p {
        font: 30pt SourceSansProLight;
    }
    #fixedHeader {
        width: 100%;
        height: 100px;
    }
    #imageContainer {
        height: 100px;
    }
    #logo {
        top: -100px;
        height: 100px;
        background-size: auto 70px;
        background-image: url(images/po_logo_sml.png);
        background-position: 20px center;
        width: 470px;
    }
    #menuButton {
        right: 10px;
        width: 100px;
        height: 100px;
        background-size: auto 60px;
    }
    #sliderContainer {
        height: 440px;
    }
    #slidingMenu {
        width: 305px;
    }      
    #slidingMenu ul li {
        font: 35pt Adam;
    }
    #tempTitle {
        height: 38.5vw;
    }    
    #scans tr td a img.mobileOnly {
        width: 75%;
    }
    .expandable {
        background-image: url(images/arrow_mobile.png);    
        background-size: auto 20px;
        height: 40px;
        width: 30px;
        right: 300px; 
    }
    #webGLwarning {
        font: 24pt SourceSansProBlack;        
    }    
}

@media only screen and
    (max-width:800px) {
    #tempTitle {
        background-size: auto 79.5%;
        height: 232px;
    }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
    #content {
        width: 100%;
    }
    #tempMarcus {
        width: 300px;
        height: 300px;
    }
    #bioFrame {
        width: 300px;
        height: 300px;        
    }
    .mobileOnly {
        display: none;
    }
    .desktopOnly {
        display: none;
    }
    .ipadOnly:active {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;              
    }    
    .ipadOnly {
        display: inline;
    }
    h1 {
        font: 37pt Adam;        
    }
    #content p {
        font: 15pt SourceSansProLight;
    }
    #fixedHeader {
        min-width: 800px;
        width: 100%;
        height: 60px;
    }
    #logo {
        top: -60px;
        height: 60px;
        background-image: url(images/po_logo_sml.png);
        background-position: 20px center;
        width: 400px;
    }
    #imageContainer {
        height: 60px;
    }
    #menuButton {
        right: 10px;
        width: 60px;
        height: 60px;
        background-size: auto 40px;
    }
    .submenu li a, .submenu li a:link, .submenu li a:visited {
        font: 20pt SourceSansProLight;
        padding: 10px;
    }
    #sliderContainer {
        height: 225px;
    }
    #slidingMenu {
        width: 160px;
    }       
    #slidingMenu ul li {
        font: 13pt Adam;
    }
    .submenu li a, .submenu li a:link, .submenu li a:visited {
        font: 13pt SourceSansProLight;
    }
    .expandable {
        background-size: auto 9px;
        height: 13px;
        width: 15px;
        right: 140px;    
    }
    .video-foreground {
        width: 100%;
    }
    #tempTitle {
       height: 38.5vw;
    }
    #contactForm {
        width: 50%;
        min-width: 600px;
    }
    #contactForm form input[type="submit"] {
        width: 100px;
        font: 13pt SourceSansProLight;
    }
    #contactForm form input, #contactForm form textarea {
        padding-left: 5px;
        padding-right: 5px;
        font: 13pt SourceSansProLight;
    }
    #dialog {
        width: 430px;
        height: 640px;
    }
    #shrapnel {
        height: 400px;
    }
    .close {
        background-size: 30px 30px;
        width: 35px;
        height: 35px;        
    }  
}
